html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

p,
li {
  font-family: "Open Sans Condensed", sans-serif;
}
