.btn {
  background-color: $color-primary;
  width: 50%;
  color: $color-white;
  font-size: 0.9rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
  border: none;
  cursor: pointer;
  @media screen and (max-width: 800px) {
    margin-bottom: 1.5rem;
  }
  &__checkout {
    background-color: $color-black;
    color: $color-white;
    margin-top: auto;
    @media screen and (max-width: 800px) {
      width: 70%;
      margin: 2rem auto;
    }
  }
  &__google {
    background-color: $color-blue;
    color: $color-white;
  }
  &:hover {
    opacity: 0.9;
  }
}

.google-btn-container {
  text-align: center;
  margin: 2.5rem auto;
}
