.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  text-align: center;
  h3 {
    text-transform: uppercase;
    font-size: 2rem;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    margin: 5rem auto;
  }
}

.checkout-item {
  font-size: 1.5rem;
  color: $color-primary;
  width: 100%;
  display: flex;
  min-height: 100px;
  align-items: center;
  border-bottom: 1px solid $color-light-grey;
  padding: 15px 0;
  font-size: 1.2rem;
  @media screen and (max-width: 800px) {
    display: block;
    padding: 0 1.5rem;
    margin: 0 auto;
  }

  &__image {
    width: 35%;
    height: 100%;
  }

  &__img-container {
    width: 23%;
  }
  &__title {
    width: 23%;
    font-size: 1rem;
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      padding-top: 1rem;
      font-size: 1.2rem;
    }
  }
  &__quantity {
    width: 23%;
    padding-left: 2rem;
    display: flex;
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      padding-right: 6rem;
      padding-top: 0.5rem;
    }
  }
  &__price {
    width: 23%;
    padding-left: 2rem;
    padding-right: 1.5rem;
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      padding-top: 0.5rem;
    }
  }
}

.total-price {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-right: 3rem;
  float: right;
  @media screen and (max-width: 800px) {
    font-size: 2rem;
  }
}

.arrow {
  cursor: pointer;
}

.value {
  margin: 0 1.5rem;
}

.remove-icon {
  width: 8%;
  cursor: pointer;
  @media screen and (max-width: 800px) {
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 0.5rem;
  }
}
