.mealplan-container {
  width: 100%;
  padding: 3rem;
  @media screen and (max-width: 800px) {
    padding: 0;
  }
}

.mealplan-item {
  width: 100%;
  display: flex;
  @media screen and (max-width: 800px) {
    display: block;
  }
  &__image {
    padding-bottom: 1.5rem;
    width: 80%;
    @media screen and (max-width: 800px) {
      padding-bottom: 0.5rem;
      width: 100%;
    }
  }
  &__image-box {
    flex: 0 0 60%;
  }
  &__text {
    font-size: 2rem;
    color: $color-black;
    flex: 1;
    padding-right: 2rem;
    @media screen and (max-width: 800px) {
      padding: 0 1rem;
    }
    &--price {
      font-weight: 800;
    }
  }
}

.mealplan-btn-box {
  margin-bottom: 1.5rem;
  .btn {
    display: inline;
    margin: 0.5rem;
  }
}

input[type="checkbox"] {
  display: block;
}

.collection-preview {
  text-align: center;
  &__title {
    font-size: 3rem;
    color: $color-secondary;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
